.header__lang-link {
  padding-top: 19px;
}

@media (max-width: 1279px) {
  .header__lang-link {
    padding-right: 49px;
  }
}

@media (max-width: 1023px) {
  .header__lang-link {
    padding-right: 24px;
  }
}

@media (max-width: 767px) {
  .header__lang-link {
    padding-right: 16px;
    padding-top: 14px;
  }
}
