.header__lang-link {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  width: 29px;
}

.header__lang-link:hover {
  cursor: url("../../../images/Pointer.png"), pointer;
  opacity: 0.8;
}

@media (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
