.places {
  display: grid;
  grid-template: 152px 460px /460px 484px;
  column-gap: 40px;
  row-gap: 48px;
  padding-bottom: 80px;
  justify-content: center;
}

.places:nth-child(1) {
  padding-top: 92px;
}

@media (max-width: 1024px) {
  .places {
    grid-template: 152px 440px /440px 456px;
    column-gap: 32px;
    row-gap: 48px;
  }
}

@media (max-width: 930px) {
  .places {
    padding-bottom: 86px;
    grid-template: 76px max-content / 340px 352px;
    column-gap: 28px;
    row-gap: 48px;
  }
  .places:nth-child(1) {
    padding-top: 102px;
  }
  .places:nth-child(4) {
    grid-template: 41px max-content / 340px 352px;
  }
}

@media (max-width: 768px) {
  .places {
    padding-bottom: 73px;
    grid-template: 76px max-content / 340px 352px;
    column-gap: 28px;
    row-gap: 48px;
  }
}

@media (max-width: 730px) {
  .places {
    padding-bottom: 73px;
    grid-template: 76px max-content / 300px 352px;
    column-gap: 28px;
    row-gap: 48px;
  }
  .places:nth-child(4) {
    grid-template: 41px max-content / 300px 352px;
  }
}

@media (max-width: 685px) {
  .places {
    padding-bottom: 50px;
    grid-template: 36px 47px 320px max-content / 320px;
    row-gap: 32px;
  }
  .places:nth-child(1) {
    padding-top: 100px;
  }
  .places:nth-child(4) {
    grid-template: 35px 46px 320px max-content / 320px;
  }
}

@media (max-width: 320px) {
  .places {
    padding-bottom: 50px;
    grid-template: 35px 46px 320px max-content / 320px;
    row-gap: 32px;
  }
  .places:nth-child(1) {
    padding-top: 50px;
  }
  .places:nth-child(4) {
    grid-template: 35px 46px 320px max-content / 320px;
  }
}
