.header__logo {
  width: 176px;
  height: 52px;
  position: absolute;
  top: 50px;
  left: 48px;
}

@media (max-width: 1024px) {
  .header__logo {
    top: 60px;
  }
}

@media (max-width: 768px) {
  .header__logo {
    left: 25px;
  }
}

@media (max-width: 320px) {
  .header__logo {
    width: 142px;
    height: 42px;
    top: 16px;
    left: 16px;
  }
}
