.places_type_thin {
  grid-template: 76px 460px /460px 484px;
}

@media (max-width: 1024px) {
  .places_type_thin {
    grid-template: 76px 440px /440px 456px;
  }
}

@media (max-width: 1023px) {
  .places_type_thin {
    grid-template: 45px max-content / 340px 352px;
  }
}

@media (max-width: 767px) {
  .places_type_thin {
    grid-template: 34px 46px 320px max-content / 320px;
  }
}
