.cover__overlay {
  position: relative;
  background-image: url("../../../images/__background.jpg");
  background-size: cover;
  min-height: 740px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 92.5%;
}

@media (max-width: 1279px) {
  .cover__overlay {
    min-height: 62.5vw;
    max-width: 100%;
    margin: 0;
  }
}

@media (max-width: 320px) {
  .cover__overlay {
    max-width: 320px;
  }
}
