.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 75px;
  padding-bottom: 24px;
}

@media (max-width: 1023px) {
  .footer {
    padding-top: 72px;
  }
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding-top: 47px;
  }
}
